body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    margin: 0;
}

/*************************************************************************************************************************************************
header
*************************************************************************************************************************************************/
header {
    border-bottom: solid 1px black;
    padding-bottom: 1em;
    text-align: center;
}

#appDescription, #appName {
    margin: 0;
}

/*************************************************************************************************************************************************
main
*************************************************************************************************************************************************/
/*
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
*/

main > * {
    margin: 0 16px;
}

.button {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: .25em 1em;
    text-decoration: none;
    user-select: none;
}

#markTypeToUse {
    padding: 5px;
}

#operationButton {
    margin-top: 12px;
}

.option-box {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    padding: 16px;
    position: relative;
    width: 50%;
}

.optionName {
    background-color: white;
    left: -24px;
    margin-bottom: 8px;
    padding-right: 5px;
    position: absolute;
    top: -12px;
}

.option-box .content {
    display: block;
    bottom: 8px;
    left: .5em;
    position: relative;
    user-select: none;
}

.option-box .subContent {
    display: block;
    left: .7em;
    position: relative;
    user-select: none;
}

#passwords {
    height: 100%;
    /* width: 50%; */
}

#password {
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    width: 32em;
}

#passwordLengthInput {
    vertical-align: top;
    width: 32px;
}

#passwordLengthSlide {
    display: inline;
}

#pw-length-inputs {
    margin-top: .5em;
}

.checkbox input[type = "checkbox"] {
    display: none;
}

.checkbox input[type = "text"] {
    display: block;
    /* margin-left: 0.5em; */
}

.checkbox {
    cursor: pointer;
    display: inline-block;
    margin: 3px auto;
    min-width: 11.6em;
    padding: 0 0 0 calc(1em + 6.5px);
    position: relative;
    user-select: none;
}

.checkbox::after {
    content: '';
    border: 1px solid darkgray;
    height: 1em;
    left: 0;
    position: absolute;
    top: .1em;
    transition-duration: .5s;
    width: 1em;
}

.checkbox::before {
    content: '';
    border-bottom: .15em solid black;
    border-left: .15em solid black;
    display: inline-block;
    left: .2em;
    height: .35em;
    opacity: 0;
    position: absolute;
    top: .3em;
    transform: rotateZ(-90deg);
    transition-duration: .5s;
    width: .6em;
}

.checked::before {
    opacity: 1;
    transform: rotateZ(-45deg);
}

/*************************************************************************************************************************************************
footer
*************************************************************************************************************************************************/
footer {
    border-top: solid 1px black;
}

#copyright {
    text-align: center;
}